# macOS
.DS_Store
.AppleDouble
.LSOverride

# Löve2D build artifacts
*.love

# Java / Maven / Gradle
server/target/
server/.gradle/
server/build/
*.class
*.jar

# IDE
.idea/
*.iml
.vscode/
*.suo
*.user

# Logs
*.log
